.GOAT {
  margin: 0;
	padding: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 0;
	color: #fff;
	height: 100%;
	background:#333 url(/public/background-1.jpg) center center no-repeat fixed;
	background-size: cover;
  text-align: center;
}
.Court{
	background:url(/public/court.jpg) center center no-repeat ;
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
	background:#333 url(/public/background-1.jpg) center center no-repeat fixed;
	background-size: cover;
}

#templates {
	display: none;
}

.main{
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}

.ms-n5 {
    margin-left: -40px;
}

.ms-n0 {
    margin-left: -40px;
	border-radius: 9999em 0px 0px 9999em;
}

.main-nav{
	display: block;
	position: fixed;
	width: 100%;
	height: 60px;
	text-align: left;
	padding: 0 5% ;
	color: #ddd;
	font-weight: 400;
	font-size: 14px;
	box-sizing: border-box;
	z-index: 10;
	overflow: hidden;
	background: rgba(100,100,100,0.5) ;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5)
}
.main-nav:before{
	content: "";
	height: 100%;
	width: 0%;
	display: inline-block;
	vertical-align: middle;
}
.navbar-brand .logo{
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	height: 100%;
	background: url(/public/Logo.ico) center center no-repeat;
	background-size: 50px 50px;
}
.main-nav .tabs{
	display: inline-block;
	position: relative;
}
.main-nav .tabs.hide{
	display: none;
}
.main-nav .tab{
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	transition: all 0.1s;
	cursor: pointer;
}
.main-nav .tab:hover{
	color: #fff;
}
.main-nav .tab .searchbar{
	margin: 0 auto;
	display: block;
	width: 70%;
	min-width: 200px;
	border: 1px solid #222;
	padding: 3px 3px 3px 15px;
}
/*
.App-title {
  background-color: rgba(255,255,255,0.1);
  /* height: calc(100% - 160px); 
  height: 800px;
  width: 100%;
  display: block;
  position: relative;
}

.App-text {
  display: inline-block;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  margin: 15px 2%;
  width: 27%;
  min-width: 150px;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.1s;
  vertical-align: top;
}*/

.item{
	background: rgba(255,255,255,0.3);
	border-radius: 12px;/*
	display: inline-block;
	margin: 15px 2%;
	width: 27%;
	min-width: 150px;
	font-weight: 300;
	box-sizing: border-box;
	font-size: 18px;*/
	color: rgb(0, 0, 0);
	padding: 10px;
	cursor: pointer;
	transition: all 0.1s;
	vertical-align: center;
}
.item:hover{
	background-color: rgba(255,255,255,0.4);
	background: linear-gradient(135deg, #dc6601, #141619)
}

.LiveGame {  display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 0.5fr 2fr 0.5fr;
	gap: 5% 5%;
	grid-auto-flow: row;
	grid-template-areas:
	  "Timer TopButtons ."
	  "HomePlayers Court AwayPlayers"
	  ". BottomButtons .";
  }
  
  .Court { grid-area: Court; }
  
  .Timer { grid-area: Timer; }
  
  .TopButtons { grid-area: TopButtons; }
  
  .BottomButtons { grid-area: BottomButtons; }
  
  .AwayPlayers { grid-area: AwayPlayers; }
  
  .HomePlayers { grid-area: HomePlayers; }
  

