.containerStats {
    display: grid; 
    grid-template-columns: 8fr 1fr; 
    grid-template-rows: 6fr 1fr; 
    gap: 3% 3%; 
    grid-template-areas: 
      "Data Teams"
      "Games Tournaments"; 
  }

  .container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3% 3%;
    grid-auto-flow: row;
    grid-template-areas:
      "Data Teams"
      "Games Games";
  }
  
  .Data { grid-area: Data; }
  
  .Teams { grid-area: Teams; }
  
  .Games { grid-area: Games; }
  
  .Players { grid-area: Teams; }

  .Tournaments { grid-area: Tournaments; }
    

  .DataCard {  
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 5% 5%;
    grid-auto-flow: row;
    grid-template-areas:
      "Image Info"
      "Stats Stats";
  }
  
  .Image { grid-area: Image; }
  
  .Info { grid-area: Info; }
  
  .Stats { grid-area: Stats; }
  